<!DOCTYPE html>
<html>
<head>
	<title>Time Display</title>
</head>
<body>
	<h3>The Current Time and Date</h3>
	<h1><%= @time.strftime("%b %d, %Y") %></h1>
	<h1><%= @time.strftime("%I:%M %p") %></h1>
</body>
</html>

